// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

.pagination a:hover {
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
}

.pagination .disabled {
    color: #C0C0C0;
}
